<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <h1>Hangman</h1>
    <h5>
        <%= word %>
    </h5>
    <div class="container">
        <div id="theWord"></div>
        <div class="letters">
            <button id="a" onclick="guess(a)">A</button>
            <button id="b" onclick="guess(b)">B</button>
            <button id="c" onclick="guess(c)">C</button>
            <button id="d" onclick="guess(d)">D</button>
            <button id="e" onclick="guess(e)">E</button>
            <button id="f" onclick="guess(f)">F</button>
            <button id="g" onclick="guess(g)">G</button>
            <button id="h" onclick="guess(h)">H</button>
            <button id="i" onclick="guess(i)">I</button>
            <button id="j" onclick="guess(j)">J</button>
            <button id="k" onclick="guess(k)">K</button>
            <button id="l" onclick="guess(l)">L</button>
            <button id="m" onclick="guess(m)">M</button>
            <button id="n" onclick="guess(n)">N</button>
            <button id="o" onclick="guess(o)">O</button>
            <button id="p" onclick="guess(p)">P</button>
            <button id="q" onclick="guess(q)">Q</button>
            <button id="r" onclick="guess(r)">R</button>
            <button id="s" onclick="guess(s)">S</button>
            <button id="t" onclick="guess(t)">T</button>
            <button id="u" onclick="guess(u)">U</button>
            <button id="v" onclick="guess(v)">V</button>
            <button id="w" onclick="guess(w)">W</button>
            <button id="x" onclick="guess(x)">X</button>
            <button id="y" onclick="guess(y)">Y</button>
            <button id="z" onclick="guess(z)">Z</button>
        </div>


        <div id="contentPerson">
            <div>
                <div id="guessedLetters">Guessed Letters: <span id="guessLetter"></span></div>
                <div id="lives">Chances remaining: <span id="live"></span></div>
                <div id="res">Result: <span id="result"></span></div>
            </div>

            <div id="person">
                <div id="upperT"></div>
                <div id="head"></div>
                <div id="hand1"></div>
                <div id="hand2"></div>
                <div id="stomach"></div>
                <div id="leg1"></div>
                <div id="leg2"></div>
            </div>
        </div>

        <!-- <button id="reset">Reset</button> -->

    </div>
    <script src="/script.js"></script>
</body>

</html>